* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    height: 100vh;
    background: linear-gradient(to right, #1f1c2c, #928dab);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    margin-top: 15%;
}

.hero h1 {
    font-size: 3rem;
}

.hero span {
    color: #ffd369;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #ffd369;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.section {
    padding: 60px 10%;
    text-align: center;
}

.dark {
    background: #f4f4f4;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}